@model List<GestionProject.ViewModels.TeamMemberViewModel>
@{ Layout = "_DashboardLayout"; }
@{ 
    ViewData["Title"] = "index";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="txt-themecolor"> Teams members</h3>
    </div>
    <div class="col-md-7 align-self-center">

    </div>

</div>

<div id="PlaceHolderHere"></div>

<button type="button" clasa="btn btn-primary" data-toggle="ajax_modal" data-target="#addTeamMember"
        data-url="@Url.Action("Create")"></button>"


<table class=" table">
    <thead>

        <tr>


            <th>FullName </th>
            <th> Email </th>
            <th>Group </th>
            <th>  Price </th>


        </tr>
        @foreach (var teamMember in Model)
        {
    <tr>
        <td>@teamMember.FullName</td>
        <td>@teamMember.Email</td>
        <td>@teamMember.Group</td>
        <td>@teamMember.Price</td>
        

        <td class="text-nowrap">
            <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-pencil-alt text-inverse mr-1"></i> </a>
            <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-times text-danger"></i> </a>
        </td>working
    </tr>
}




    </thead>
</table>