@model List<GestionProject.ViewModels.TeamMemberViewModel>
@{ Layout = "_DashboardLayout"; }
@{ 
    ViewData["Title"] = "index";
}

<button type="button" clasa="btn btn-primary" data-toggle="ajax_modal" data-target="#addTeamMember"
        data-url="@Url.Action("Create")"></button>"


<table class=" table">
    <thead>
        @foreach (var teamMember in Model)
        {
        <tr>


            <th> @teamMember.FullName</th>
            <th> @teamMember.Date</th>
            <th> @teamMember.Email </th>
            <th> @teamMember.Group </th>
            <th> @teamMember.Price</th>

        </tr>}
                </thead>
</table>